token           = "trololo"
cloud_id        = "b1g7qc397j4kqdas1pda"
folder_id       = "b1gpqmkqi13759sigrsd"
zone            = "ru-central1-a"
image_id        = "fd8mktaqubu5cg1djt5t"
subnet_id       = "e9b9ona5s77ea0c0lb3s"
public_key_path = "~/.ssh/otus.pub"
